<div class="post-preview">
    <h2 class="post-title">
        <em>Key Skills &amp; Knowledge</em>
    </h2>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h4 class="post-subtitle">
                    <em>Skills</em>
                </h4>
                <ul>
                    <li *ngFor="let skill of keySkills">{{skill.skill}} ({{skill.yearsExperience}} years)</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h4 class="post-subtitle">
                    <em>Industry Knowledge</em>
                </h4>
                <ul>
                    <li *ngFor="let kn of knowledge">{{kn.industry}} ({{kn.yearsExperience}} years)</li>
                </ul>
            </div>
        </div>
    </div>
</div>