<h2 class="post-title">
    <em>Professional Experience</em>
</h2>
<section id="cd-timeline" class="cd-container">
    <div *ngFor="#exp of experience" class="cd-timeline-block">
        <div class="cd-timeline-img">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
            </span>
        </div>

        <div class="cd-timeline-content">
            <div>Company: {{exp.company}}</div>
            <div>{{exp.jobTitle}}</div>
            <div>Skills: {{exp.skills}}</div>
            <br />
            <div class="description">{{exp.description}}</div>
            <span class="cd-date">{{exp.startDate | date:"MMM/yyyy"}} - {{exp.endDate | date:"MMM/yyyy" | isNull: "Current"}}</span>
        </div>
    </div>
</section>
