<navigation></navigation>
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('assets/img/home-bg.jpg')">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Daniel Cook</h1>
                    <hr class="small">
                    <span class="subheading">Senior Developer</span>
                    <span class="subheading">LLC: DOTA IT Services Ltd</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content -->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-offset-1 col-lg-10">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<hr>

